@(hitungluaslingkaran: String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lingkaran</title>
</head>
<body>
    <a href="/">HOME </a><a href="/lingkaran"> kembali</a>
    <h2>Hitung Bangun Datar " LUAS LINGKARAN"</h2>
    <form action="/hitungluaslingkaran" method="GET">
    <p>nilai jari-jari : <input type="text" name="nilair"></p>
    <input type="submit" value="Hitung Luas">
    <p>Luas : @hitungluaslingkaran</p>
    </form>
</body>
</html>